@use 'variables';
@import '_mixins';
*{
  margin: 0;
  padding: 0;
}

//btn variable
$light-c: #cecab2;
$dark-c: #54544e;


  
  
  
  
  .navbar{
      background: rgba(140, 132, 132, 0.6);
      padding: 1.2rem;
  }
  .navbar-brand{
    @include navbar-brand();
  }
  .navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a{
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
}



  .content img{
      padding: 30px;
      width: 30%;
      
  }

  .card{
      padding: 20px;
      height: 500px;
      width: 700px;
      margin: auto;
      text-align: center;
  }

  .txt-box{
    @include txt-box();
  }




  .btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn{

    @include btn($light-c);

    

    &:hover {
        opacity: 0.80;
        transform: translateY(2px);
    }
}



  

 
  
  

  
